.box{
    height: 100px;
    width:100px;
    border: 1px solid black;
    margin:10px;
    text-align: center;
    background-color: aqua;
}

body{
    background-color: aqua;
}
button{
    color: white;
    background-color: blueviolet;
}
#heading{
  background-color: palevioletred;
  color:white;
}
